/* header */
.header-top {
  min-height: 50px;
}
.header-bottom {
  min-height: 80px;
}
#img-logo {
  font-size: 10px;
  height: 100%;
}

/* main */
main {
  padding-top: 130px;
}
.jumbotron {
  min-height: 500px;
  background-color: blue;
}

.img-game-card {
  min-height: 400px;
  background-color: red;
}
.img-game-size {
  min-height: 200px;
}

/* section-ps5 */
.ps5 {
  min-height: 400px;
}
.img-ps5 {
  min-height: 200px;
}
.img-secondarie-ps5 {
  min-height: 200px;
}
.img-secondarie-ps5 > * {
  border: 1px solid black;
}

/* section intakes2 */
.it-takes {
  min-height: 400px;
}
.it-takes > * {
  border: 1px solid white;
  min-height: 100px;
}

/* section list-games */
.card-list-game > * {
  border: 1px solid white;
}
.list-img {
  min-height: 200px;
}
.list-text-img {
  min-height: 50px;
}

/* explore */

.img-top {
  width: 100%;
  min-height: 200px;
  border: 1px solid black;
}
.bottom-img {
  border: 1px solid black;
}

/* pl plus */

.pl-plus-bg {
  background-color: gray;
  min-height: 300px;
}
.soul-img {
  min-height: 300px;
}

/* discount */
.discount > * {
  min-height: 200px;
  border: 1px solid black;
}

/* pl-now */

.pl-now-bg {
  background-color: blue;
  min-height: 300px;
}
.soul-img {
  min-height: 300px;
}

/* social*/
.social {
  min-height: 300px;
}
.social > .col {
  border: 1px solid black;
  margin-bottom: 20px;
}
