/* header */
.header-top {
  min-height: 50px;
}

/* main */

.jumbotron {
  margin-top: 100px;
  min-height: 500px;
  background-image: url(img/jumbo-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

/* section-ps5 */

.col-12 > h4 {
  color: RGB(27, 127, 210);
  font-size: 15px;
}

/* section intakes2 */

.bg-it-takes {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
}

/* section list-games */

/* explore */

.img-top {
  width: 100%;
  min-height: 200px;
}

/* pl plus */

.pl-plus-bg {
  background-color: RGB(191, 188, 187);
  min-height: 300px;
}

/* pl-now */

.pl-now-bg {
  background-color: RGB(21, 28, 59);
  min-height: 300px;
}
.btn-color-now {
  color: RGB(21, 28, 59);
}
/* social*/

.social > .col {
  margin-bottom: 20px;
}

/* footer */
.bg-footer {
  background-color: RGB(6, 67, 155);
  color: white;
}

.language-g {
  height: 20px;
  padding-right: 10px;
}
.sie-logo {
  height: 50px;
  margin-top: 10px;
}

/* effetti hover */

.img-game-size > *:hover img {
  transform: translatey(-1rem);
  transition: all 0.5s ease-in-out;
}
